input {
  height: 30px;
}

input, textarea, select {
  background-color: transparent;
  border: none;
  border-bottom: #2c3e50 solid 2px;
  font-size: 15px;
  margin: 5px;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

input:focus, textarea:focus {
  border-bottom: #1abc9c solid 3px;
}

textarea {
  width: 100%;
}

::-webkit-input-placeholder {
   color: #2c3e50;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2c3e50;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2c3e50;  
}

:-ms-input-placeholder {  
   color: #2c3e50;  
}