#fancy-svg {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

circle {
  r: 15px;
  fill: rgba(0, 0, 0, 0.5);
  stroke: #2c3e50;
  stroke-width: 5px;

  -webkit-transition: r 0.7s ease-in-out, stroke 0.7s ease-in-out;
  -moz-transition: r 0.7s ease-in-out, stroke 0.7s ease-in-out;
  transition: r 0.7s ease-in-out, stroke 0.7s ease-in-out;
}

circle.highlighted {
  r: 30px;
  stroke: cyan;
}

line {
  stroke: #2c3e50;
  stroke-width: 1px;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}