.dropdown {
  margin: 5px;
  width: 130px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
  background-color: white;
  display: none;
}

.dropdown-content>ul {
  list-style-type: none;
  padding: 10px;
}

.dropdown-content>ul>li>a {
  color: black;
  text-decoration: none;
}

.dropdown-content-button {
  padding: 5px;
  margin: 2px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.dropdown-content-button:hover {
  background-color: #dddddd;
}

.dropdown-title {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 0px 10px;
  transition: all 0.2s;
  text-decoration: none;

  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.dropdown-title:hover, .dropdown-title.active {
    background-color: #dddddd;
}

.flex-container {
  display: flex;
}

.flex-container.centered {
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: black;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  padding: 1px 10px;
}

.info {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 10px;
}

.site-example {
  background-color: white;
  box-shadow: 5px 5px 10px #aaaaaa;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.site-example>a {
  color: black;
  text-decoration: none;
  display: block;
  margin: 10px 0px;
}

.site-example>img {
  width: 250px;
  display: block;
}

.site-examples-container {
  text-align: center;
}

#angularjs {
    background-color: white;
}

#angularjs>div {
  width: 80%;
}

#author>div {
  color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}

#bootstrap {
  background-color: white;
}

#bootstrap>div {
  width: 80%;
}

#content {
  background-image: url('../images/bg-content.jpg');
  background-size: 100% 100%;
  color: blue;
}

#content>div {
  width:80%;
}

#introduction {
  background-image: url('../images/bg-introduction.jpg');
  background-size: cover;
}

#introduction>div {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 80%;
}

#jquery {
  background-color: rgba(255, 255, 255, 0.5);
}

#jquery>div {
  width: 80%;
}

#polymer {
  background-color: white;
}

#polymer>div {
  width: 80%;
}

#react {
  background-color: rgba(255, 255, 255, 0.5);
}

#react>div {
  width: 80%;
}

#material-design>div {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 80%;
}

#menu {
  align-items: top;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#title {
  position: relative;
}

#title>div {
  z-index: 1;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}

body {
  background-attachment: fixed;
  background-image: url('../images/bg-title.jpg');
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  margin: 0px;
}

h1 {
  font-family: 'Crafty Girls', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: 'Crafty Girls', cursive;
}

h3 {
  font-family: 'Crafty Girls', cursive;
}

header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 300px;
  text-shadow: 0 0 20px black;
  width: 100%;
}

nav {
  z-index: 2;
  background-color: white;
  box-shadow: 0 5px 10px #777777;
  height: 50px;
  padding-top: 5px;
  position: fixed;
  top: 0px;
  width: 100%;
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

#fancy-svg {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

circle {
  r: 15px;
  fill: black;
  stroke: #2c3e50;
  stroke-width: 5px;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

line {
  stroke: #2c3e50;
  stroke-width: 1px;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}